<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <style>
    body {
      background-color: #ecedec;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="jumbotron text-center">
      <h1><span class="glyphicon glyphicon-bullhorn"></span></h1>
      <h2>Latest Movie Reviews</h2>
    </div>
    
    <div class="row">
    <% movies.forEach(function(movie, index) { %>
      <div class="col-sm-4">
        <div class="panel">
          <div class="panel-heading">
            <h3 class="panel-title"><%= movie.title %> (<%= movie.release %>)</h3>
          </div>
          <div class="panel-body text-center">
            <h1><%= movie.score %> <small>/ 10</small></h1>
          </div>
          <div class="panel-footer small">
            <p>By <%= movie.reviewer %> for <%= movie.publication %>
          </div>
        </div>
      </div>
    <% }) %>
    </div>
  </div>
</body>
</html>