<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
  <script src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
  <style>
    body {
      background-color: #ecedec;
    }
  </style>
</head>
<body>

<% include ./includes/navbar %>

<div class="container">
  <h2>Editing: <strong>Publications</strong></h2>

  <div class="row clearfix">
  <% publications.forEach(function(publication, index) { %>
    <div class="col-sm-4">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">Edit: <%= publication.name %></h3>
        </div>
        <div class="panel-body text-center">
          <label>Name</label>
          <input type="text" class="form-control" value="<%= publication.name %>" />
          <label>Avatar</label>
          <input type="text" class="form-control" value="<%= publication.avatar %>" />
        </div>
      </div>
    </div>
  <% }) %>
  </div>
  <a class="btn btn-primary btn-block">Save</a>
</div>

</body>
</html>